body{
    margin:0;
    background:#fff5f7;
    font-family:Arial,sans-serif;
    text-align:center;
    overflow-x:hidden;
}

section{
    min-height:100vh;
    padding:60px 20px;
}

h1{
    font-size:3rem;
}

h2{
    color:#ff4d88;
}

p{
    max-width:700px;
    margin:auto;
    line-height:1.8;
}

img{
    width:250px;
    max-width:90%;
    border-radius:20px;
    margin:15px;
    box-shadow:0 5px 20px rgba(0,0,0,.15);
}


.flowers{
    font-size:60px;
    animation:float 3s ease-in-out infinite;
}

@keyframes float{
    0%{transform:translateY(0);}
    50%{transform:translateY(-10px);}
    100%{transform:translateY(0);}
}

.reveal{
    opacity:0;
    transform:translateY(50px);
    transition:1s;
}

.reveal.active{
    opacity:1;
    transform:translateY(0);
}

.keypad{
    display:grid;
    grid-template-columns:repeat(3, 60px);
    gap:10px;
    justify-content:center;
    margin-top:20px;
}

.keypad button{
    padding:15px;
    font-size:18px;
    border-radius:10px;
    border:none;
    background:#d6b3ff;
    cursor:pointer;
}

#pin-display{
    font-size:24px;
    letter-spacing:5px;
    margin-bottom:15px;
    text-align:center;
}

body{
    margin:0;
    font-family: Arial;
}

#login{
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;

    background: url("./login-bg.png");
    background-size: cover;
    background-position: center;
}

#website{
    min-height:100vh;
    background: url("./paper.jpg");
    background-size: cover;
    background-position: center;
}
#login{
    min-height:100vh;

    display:flex;
    justify-content:center;
    align-items:center;

    background-image: url("./paper.jpg");
    background-size: cover;
    background-position: center;

    /* ✨ animation */
    opacity:0;
    transform: translateY(40px);
    animation: fadeUp 1.2s ease forwards;
}

@keyframes fadeUp{
    to{
        opacity:1;
        transform: translateY(0);
    }
}
